<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
</head>
<body>
<h1>Values for ShopifyApp [ProtectedResource]</h1>

<p>
apiKey: <span th:text='${#authentication.principal.attributes.get("shopify_client_api_key")}'>none found</span>
<br>
shopOrigin: <span th:text='${#authentication.principal.name}'>none found</span>
<br>
login for this session from embedded app?: <span th:text="${#session.getAttribute('SHOPIFY_EMBEDDED_APP') != null} ? ${#session.getAttribute('SHOPIFY_EMBEDDED_APP')} : 'false'">Unknown</span>
<br>
</p>

</body>
</html>
